body {
	color: green;
	background-color: #F3F3FF
}

input:focus {
	border: 2px solid #000;
	background: #F3F3F3;
}

#div_login input {
	width: 100px;
}

#div_login {
	position: absolute;
	top: 5%;
	left: 75%;
	width: 210px;
	padding-right: 10px;
}

#div_login label {
	width: 70px;
	float: left;
}

#div_busqueda {
	position: absolute;
	bottom: 30%;
	left: 15%;
	width: 500px;
}

.centrado {
	text-align: center;
}

.derecha {
	text-align: right;
}

#mapa {
	border-color: tomato;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	width: 810px;
	margin: auto;
}

table {
	border-collapse: collapse;
	margin: auto;
	width: 60%;
}

table, th, td {
	border: 1px solid black;
}

thead {
	background-color: darkseagreen;
}

#editar {
	margin: auto;
	width: 70%;
}

legend {
	font-size: 150%;
}

#alta {
	width: 45%;
	margin: auto;
}

.menu_arriba {
	margin-top: 0;
	margin-bottom: 20px;
	background: darkseagreen;
	height: 70px;
	padding-top: 10px;
	text-align: right;
}

td>table {
	width: 100%;
}

#barra {
	padding: 0;
}

#barra li {
	display: inline;
}

#barra li a {
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff;
}

#barra li a:hover {
	background-color: #2586d7;
	margin-top: -2px;
	padding-bottom: 12px;
}
caption>table {
	font: oblique bold 120% cursive;
}




body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}